In [86]:
import pandas as pd

In [87]:
df = pd.read_csv('/home/lifu237/deezer-interview/others/sample_listen-2021-12-01_2Mlines.log', sep='|', header=None, on_bad_lines='skip')

/tmp/ipykernel_87311/1327273094.py:1: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/lifu237/deezer-interview/others/sample_listen-2021-12-01_2Mlines.log', sep='|', header=None, on_bad_lines='skip')

In [88]:
df.columns

Index([0, 1, 2], dtype='int64')

In [89]:
df=df.rename(columns={0: 'sng_id', 1: 'user_id', 2: 'country'})
df.head()

       sng_id       user_id country
0   384361666  1091293960.0      NL
1   146998538  1091293960.0      NL
2  1801980088  1091293960.0      NL
3  1738705827  1091293960.0      NL
4  1622793002  1091293960.0      NL

In [90]:
df.shape

(1999988, 3)

In [91]:
df.isna().sum()

sng_id      0
user_id    16
country    10
dtype: int64

In [92]:
num_songs = df['sng_id'].nunique()
num_countries = df['country'].nunique()
num_users = df['user_id'].nunique()
print(f"users: {num_users}")
print(f"songs: {num_songs}, countries: {num_countries}")

users: 42029
songs: 515063, countries: 5

In [93]:
df['country'].unique()

array(['NL', 'DE', 'GB', 'BE', 'GBGBGB', nan], dtype=object)

In [94]:
# rows = df[df['country'].isin(['GBGB', np.nan])]

In [95]:
# rows

In [96]:
grouped_data = df.groupby(['country', 'sng_id']).size().reset_index(name='count')

In [97]:
grouped_data

       country     sng_id  count
0           BE      38393      3
1           BE      54976      4
2           BE     117672      3
3           BE     186766      3
4           BE     251909      1
...        ...        ...    ...
623222      NL  998680746      2
623223      NL  998690694      1
623224      NL  998767689      2
623225      NL  999183094      1
623226      NL  999882933      1

[623227 rows x 3 columns]

In [98]:
grouped_data_sorted = grouped_data.sort_values(by='count', ascending=False)
print(grouped_data_sorted)

       country      sng_id  count
98410       DE   365536183   3385
144900      DE   753613052   1906
185843      DE  1096378722   1615
287714      DE  1945934812   1585
299419      DE  2044166545   1435
...        ...         ...    ...
623185      NL   991644891      1
623187      NL   992000136      1
623188      NL   992177469      1
623190      NL   992946647      1
623191      NL   993611175      1

[623227 rows x 3 columns]

In [99]:
average_listens_per_sound = grouped_data.groupby('country')['count'].mean().reset_index()
average_listens_per_sound

  country     count
0      BE  2.323723
1      DE  3.508096
2      GB  3.213132
3  GBGBGB  1.000000
4      NL  2.724470

In [100]:
song_counts = df.groupby(['sng_id', 'country']).size().reset_index(name='listens')
print(song_counts)

           sng_id country  listens
0           11663      DE       14
1           11663      NL        3
2           12997      GB        3
3           20924      DE        1
4           25865      DE        1
...           ...     ...      ...
623222  999940456      GB        1
623223  999941241      DE        2
623224  999941241      GB        2
623225   99996885      DE        6
623226  999987515      DE        1

[623227 rows x 3 columns]

In [101]:
from datetime import datetime, timedelta

date = datetime.now()
date_str = date.strftime('%Y%m%d')

filename = f'listen-{date_str}.log'
df.to_csv(f'/home/lifu237/deezer-interview/logs/{filename}', sep='|', header=None, index=False)